<div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">Liste des documents </span></div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>nom</th>
                        <th>urlImage</th>
                        <th>date</th>
                        <th>peremption</th>
                        <th>proprietaire</th>
                        <th width="100"></th>
                        <th width="100"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="u in $ctrl.documents">
                        <td>{{u.id}}</td>
                        <td>{{u.nom}}</td>
                        <td>{{u.urlImage}}</td>
                        <td>{{u.date}}</td>
                        <td>{{u.peremption}}</td>
                        <td>{{u.proprietaire}}</td>
                        <td><button type="button" ng-click="ctrl.editUser(u.id)" class="btn btn-success custom-width">Editer</button></td>
                        <td><button type="button" ng-click="ctrl.removeUser(u.id)" class="btn btn-danger custom-width">Supprimer</button></td>
                    </tr>
                    </tbody>
                </table>      
            </div>
        </div>
</div>


<form 
    name="documentForm" novalidate ng-submit="$ctrl.saveDocument($ctrl.document)" class="well">

    <div class="form-group">
        <label for="nom">Nom</label>
        <input ng-model="$ctrl.document.nom" 
        
            id="nom" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="urlImage">urlImage</label>
        <input ng-model="$ctrl.document.urlImage" 
            
            id="urlImage" type="text" class="form-control">
    </div>
     <div class="form-group">
        <label for="date">date</label>
        <input ng-model="$ctrl.document.date" 
            
            id="date" type="date" class="form-control">
    </div>
         <div class="form-group">
        <label for="peremption">peremption</label>
        <input ng-model="$ctrl.document.peremption" 
             
            id="peremption" type="date" class="form-control">
    </div>

    </div>
         <div class="form-group">
        <label for="proprietaire">proprietaire</label>
        <input ng-model="$ctrl.document.proprietaire" 
             
            id="proprietaire" type="text" class="form-control">
</div>


    <button type="submit" class="btn btn-primary">Enregistrer</button>

    <a type="button" ng-href="/users" class="btn btn-default">Annuler</a>

</form>
